.add-button{
    margin-left: 1300px;
}
.mainAllProduct{
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 1000px;
}
.AllProduct{
    
}