
.mainAllProduct {
    background-color: antiquewhite;
    /* background-image: url('../assets/ProductImg/); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    /* height: 1000px; */
}

.AllProduct {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}
.AllProductButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .BacktoHomePage{
    background-color: #28a745;  /* green color */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-button {
    background-color: #007bff;  /* blue color */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }